@import "src/styles";

.page-container {
  margin: 16px 100px;
  box-shadow: #00000024 4px 4px 4px;
  background-color: $white;
  padding: 16px;

  .header {
    display: flex;
    flex-wrap: wrap;

    h1 {
      flex-grow: 1;
    }

    .links {
      display: flex;
      flex-direction: column;
      
      margin-right: 16px;

      font-size: 16px;

      a {
        margin: 16px 0;
        &:hover {
          font-weight: bold;
        }
      }
    }

    .tips {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      img {
        height: 80px;
      }

      span {
        margin-top: 4px;
      }
    }
  }
}

.demo-container {
  display: flex;
  flex-wrap: wrap;

  .demo-column {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 550px;

    margin: 8px;
    border: $black 1px solid;
    box-shadow: #00000024 4px 4px 4px;

    padding: 8px;
  }
}

.highlight {
  background-color: $gray;
  border-radius: 5px;
}

@media screen and (max-width: $breakpoint-small-web) {
  .page-container {
    margin: 16px;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .page-container {
    margin: 0;
  }
}